.logout {
    text-align: right;
    margin-top: 7px;
}

.register td, .login td {
    padding: 5px;
}

.register {
    width: 400px;
}

.footer {
    text-align: center;
}

.login {
    width: 400px;
}

.navbar-header {
    width: 140px;
}

.navbar-nav a {
    z-index: 10000;
}

.dropdown-menu a {
    text-align: center;
}

.remember-me-check {
    width: 30px;
}