h2, h4 {
    font-family: megrim, fantasy;
    margin: 0;
    color: #333;
    text-align: center;
}
.emphasis {
    font-family: vast-shadow, sans-serif;
    font-size: 2em;
}

th {
    text-align: center;
}

tr input[type="checkbox"] {
    margin: 0px;
}

.td-text {
    width: 70%;
    padding-left: 10px;
}

.td-priority {
    width: 25%;
    text-align: center;
}

.active {
    background-color: #ebebeb !important;
}

.modified {
    color: red !important;
}

.custom-table {
    width: 100%;
}